.CannotMakeItButton{
    border: none;
    background-color: transparent;
}

.CannotMakeItButtonImage{
    width: 80%;
}

.GiftRegistryLinksList {
    display: flex;
    justify-content: space-evenly;
}

.GiftRegistryLink {
    margin: 0 5px;
    text-decoration: none;
    border-radius: 50%;
}

.GiftRegistryLink > img {
    width: 125px;
    height: 40px;
}