.App {
  text-align: center;
}

.App-logo {
  height: 10vh;
  pointer-events: none;
  padding-top: 10vh;
}

.PageStyle {
  /* height: inherit; */
  display: flex;
  justify-content: center;
}

.Page1Image{
  width: 60vw;
}

.Page2Style{
  width: 60vw;
}

.Page3Style{
  width: 60vw;
}

.PageRSVPButtonWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.PageRSVPButtonWrapper > button {
  background: transparent;
  border: none;
}

.rsvpButton{
  width: 20vw;
  padding: 2%;
}

.rsvpUnselectedButton{
  opacity: 40%;
}

.rsvpSelectedButton{
  border-radius: 50%;
  border: 3px solid #0A2E6F;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: jump infinite 10s linear;
    animation-direction: reverse;
    animation-play-state: running;
    animation-delay: calc(var(--scroll) * -1s);
    animation-fill-mode: both;
  }
}

.AnimationSection{

}

.App-header {
  /* background-color: #f6bdba; */
  /* background-color: #ffbaba; */
  background-image: url('./images/website_bg.png');
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.content {
  height: 65vh;
  width: 80vw;
  overflow-x: scroll;
  padding: 0 10% 10% 10%;
}

@keyframes jump {
  0%   {transform: translate3d(-80%, 0, 0)}
  50%  {transform: translate3d(80%, 0, 0)}
  100%   {transform: translate3d(-80%, 0, 0)}
  /* 0%   {transform: translate3d(-80%, 0, 0) scaleX(-1)}
  25%  {transform: translate3d(80%, 0, 0)}
  50%   {transform: translate3d(-80%, 0, 0)}
  75%  {transform: translate3d(80%, 0, 0)}
  100%   {transform: translate3d(-80%, 0, 0)}*/
}
